name: Build & Test (PHP 8.2)
env:
  TESTING_ENV: ${{ secrets.TESTING_ENV }}

on:
  pull_request:
    branches:
      - 'main'
    types: [ opened, synchronize, reopened, ready_for_review ]
  push:
    branches:
      - 'main'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      -   uses: actions/checkout@v3
          if: success()

      -   name: Setup PHP with coverage driver
          uses: shivammathur/setup-php@v2
          with:
            php-version: 8.2
            coverage: pcov

      -   name: Setup
          if: success()
          run: |
            sudo service mysql start
            php -v
            mysql -uroot -proot -e "CREATE DATABASE docking;"
            composer install --no-interaction
            echo "$TESTING_ENV" > .env
            php artisan key:generate
            php artisan optimize

      -   name: PHPUnit tests with coverage
          if: success() && github.event.pull_request.draft == false
          run: |
            composer test-coverage

      -   name: upload coverage to codecov.io
          if: success() && matrix.version == '8.1'
          uses: codecov/codecov-action@v3
          with:
            token: ${{ secrets.CODECOV_TOKEN }}
            file: ./coverage.xml
